.overall {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%
    
}

.imageGallery {
    display:flex;
    flex-direction: column;
    
    gap: 5px 2px;
    
    

}

.image {
    height: 5rem;
    width: 4.9375rem;
    object-fit: contain;
    
}

.image:hover {
    cursor:pointer;
}

.displayImage {
    
    width: 38.125rem;
    height: 31.9375rem;
    
}

.productDetails {
    width: 18.25rem;
    height: 37.1875rem;
    /* border: 2px solid red; */
    display:flex;
    flex-direction:column;
    gap:15px;
}

.productName {
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 1.6875rem;
color: #1D1F22;

}

.productBrand{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 1.875rem;
line-height: 1.6875rem;
color: #1D1F22;

}

.size {
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #1D1F22;
    

}


.sizeContainer {
    display:flex;
    gap: 5px;
    justify-content: space-around;
}

.sizeButton {
    width: 3.9375rem;
    height: 2.8125rem;
    border: 1px solid #1D1F22;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 1.125rem;
    color: #292929;
    background:transparent;
}

.sizeBlackButton {
    background:#1D1F22;
    color:#FFFFFF;
}

.color {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #1D1F22;
}

.colorContainer {
    display: flex;
    gap: 5px;
    
}

.colorDiv3 {
width: 2rem;
height: 2rem;
background: #0F6450;
}

.colorDiv2 {
    width: 2rem;
    height: 2rem;
    background: #2B2B2B;
    }

    .colorDiv1 {
        width: 2.25rem;
        height: 2.25rem;
        background: grey;
        }


        .spanPrice {
            display: block;
            margin-top: 10px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.125rem;
        }

        .cartButton {
            width: 18.25rem;
            height: 3.25rem;
            background: #5EcE7B;
            color: #FFFFFF;
            text-align: center;
            font-family: "Raleway";
            font-weight: 600;
            font-size: 1rem;
            border:none;
            margin-top: 15px;
            line-height: 120%;
        }
.cartButton:hover {
    cursor: pointer;
    opacity: 0.9;
}
        .description {
            font-family: "Roboto";
            font-size: 1rem;
            font-weight: 400;
            line-height: 159.96%;
            color: #1D1F22;
            margin-top: 10px;
        }



        
@media only screen and (max-width: 1023px) {

    .overall {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        /* flex-wrap: wrap; */
        height:  auto;
        width: 100vw;
    }
 
.imageGallery {
    margin-top: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: auto;
    height: 7rem;
    gap: 5px;
    

}
.image {
    height: 6.5rem;
    width: 6.5rem;
               
    object-fit: contain;
}

.image:hover {
    cursor:pointer;
}
 
.displayImage {
    position:relative;
    width: 20rem;
    height: 20rem;
    margin-left:15rem;

    
}

.productDetails {
    width: 8rem;
    height: 12rem;
    /* border: 2px solid red; */
    display:flex;
    flex-direction:column;
    gap:5px;
    width: 100%;
    padding: 10px;
    height: auto;
}

.productName {
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
text-align: center;
font-size: 1.2rem;
line-height: 1rem;
color: #1D1F22;

}

.productBrand{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
padding-top: 5px;
text-align: center;
line-height: 1rem;
color: #1D1F22;

}

.size {
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #1D1F22;
    

}


.sizeContainer {
    display:flex;
    gap: 5px;
    justify-content: flex-start;
}

.sizeButton {
    width: 2.5rem;
    height: 2rem;
    border: 1px solid #1D1F22;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 1.125rem;
    color: #292929;
    background:transparent;
}

.sizeBlackButton {
    background:#1D1F22;
    color:#FFFFFF;
}

.color {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 5px;
    color: #1D1F22;
    padding-bottom: 5px;
}

.colorContainer {
    display: flex;
    gap: 5px;
    
}

.colorDiv3 {
width: 1rem;
height: 1rem;
background: #0F6450;
}

.colorDiv2 {
    width: 1rem;
    height: 1rem;
    background: #2B2B2B;
    }

    .colorDiv1 {
        width: 1.5rem;
        height: 1.5rem;
        background: grey;
        }


        .spanPrice {
            display: block;
            margin-top: 10px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1rem;
        }

        .cartButton {
            width: 100%;
            height: 3rem;
            background: #5EcE7B;
            color: #FFFFFF;
            text-align: center;
            font-family: "Raleway";
            font-weight: 600;
            font-size: 1rem;
            border:none;
            margin-top: 15px;
            line-height: 120%;
            flex-grow: 1;
        }
.cartButton:hover {
    cursor: pointer;
    opacity: 0.9;
}
        .description {
            font-family: "Roboto";
            font-size: 1rem;
            font-weight: 400;
            line-height: 159.96%;
            color: #1D1F22;
            margin-top: 10px;
            padding: 5px;
        }

   
}



@media only screen and (max-width: 767px){
    .overall {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
        position:relative;
        
        /* height:  auto; */
        width: 100%; 
    }
 
.imageGallery {
    margin-top: 20px;
    box-sizing: border-box;
    display:flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    /* border:2px solid blue; */
    width: 100%;
    height: auto;
    gap: 0px;

}

.image {
    height: auto;
    max-width: 18%;
    flex: 30%;
   
    object-fit: contain;
}

.image:hover {
    cursor:pointer;
}
 
.displayImage {
    

margin:0;
    width: 100%;
    height: 20rem;

    

}

.productDetails {
    width: 8rem;
    height: 12rem;
    /* border: 2px solid red; */
    display:flex;
    flex-direction:column;
    gap:5px;
    width: 100%;
    padding: 10px;
    height: auto;
}

.productName {
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
text-align: center;
font-size: 1.2rem;
line-height: 1rem;
color: #1D1F22;

}

.productBrand{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
padding-top: 5px;
text-align: center;
line-height: 1rem;
color: #1D1F22;

}

.size {
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #1D1F22;
    

}


.sizeContainer {
    display:flex;
    gap: 5px;
    justify-content: flex-start;
}

.sizeButton {
    width: 2.5rem;
    height: 2rem;
    border: 1px solid #1D1F22;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 1.125rem;
    color: #292929;
    background:transparent;
}

.sizeBlackButton {
    background:#1D1F22;
    color:#FFFFFF;
}

.color {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 5px;
    color: #1D1F22;
    padding-bottom: 5px;
}

.colorContainer {
    display: flex;
    gap: 5px;
    
}

.colorDiv3 {
width: 1rem;
height: 1rem;
background: #0F6450;
}

.colorDiv2 {
    width: 1rem;
    height: 1rem;
    background: #2B2B2B;
    }

    .colorDiv1 {
        width: 1.5rem;
        height: 1.5rem;
        background: grey;
        }


        .spanPrice {
            display: block;
            margin-top: 10px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1rem;
        }

        .cartButton {
            width: 100%;
            height: 3rem;
            background: #5EcE7B;
            color: #FFFFFF;
            text-align: center;
            font-family: "Raleway";
            font-weight: 600;
            font-size: 1rem;
            border:none;
            margin-top: 15px;
            line-height: 120%;
            flex-grow: 1;
        }
.cartButton:hover {
    cursor: pointer;
    opacity: 0.9;
}
        .description {
            font-family: "Roboto";
            font-size: 1rem;
            font-weight: 400;
            line-height: 159.96%;
            color: #1D1F22;
            margin-top: 10px;
            padding: 5px;
        }


}

